<#include "./home/public/header.html"/>
<!-- START SLIDER AREA -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!-------------------------------- start ----------------------------------->

        <#if bannerListPageModelList ??>
            <#assign x=0>
            <#list bannerListPageModelList as bannerList>
                <#if x == 0>
                    <div class="item active">
                        <img src="${bannerList.bannerImage}" alt="...">
                        <div class="carousel-caption">
                            <h3 style="color: #fff;">${bannerList.title}</h3>
                            <p style="color: #fff;">${bannerList.description}</p>
                        </div>
                    </div>
                    <#else>
                        <div class="item">
                            <img src="${bannerList.bannerImage}" alt="...">
                            <div class="carousel-caption">
                                <h3 style="color: #fff;">${bannerList.title}</h3>
                                <p style="color: #fff;">${bannerList.description}</p>
                            </div>
                        </div>
                </#if>
            <#assign x=x+1>
            <#if x == 3>
                <#break>
            </#if>
            </#list>
    </#if>
<!-------------------------------- end ----------------------------------->
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- END SLIDER AREA -->

<!-- START PAGE CONTENT -->
<section id="page-content" class="page-wrapper">

    <!-- ABOUT SECTION START -->
    <div class="about-section mb-80 mt-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left ">
                        <h2 class="uppercase">Компания «КАТИК»</h2>
                        <h6 class="mb-40">Компания «КАТИК» имеетмноголетнийпрофессиональный опыт по производству
                            светодиодной и электронной продукции </h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="about-photo p-20 bg-img-1">
                        <img src="home/img/others/about-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="about-description">
                        <p>Компания «КАТИК» имеетмноголетнийпрофессиональный опыт по производству светодиодной и
                            электронной продукции , а так же в импортно – экспортной деятельности в других отраслях .
                            Мощное финансирование компании , профессионализм , отличная репутация, оперативная команда ,
                            в течение 10 лет подряд поддерживает импортно-экспортную деятельность масштабом более 1
                            миллиарда долларов .</p>

                        <p>Компания имеет собственные базы по переработке , производству и экспорту продукции в Европу,
                            Америку, Австралию, Японию, Ближний Восток , Россию и бывшие страны СНГ , а так же Южную
                            Америку. Компания специализируется на производстве и продаже LED продукции , светильников
                            имеет полный ассортимент, высокое качество продукции, новые модели , первоклассное
                            обслуживание . </p>

                        <p>Для нашей компании репутация и качество нашей продукции на первом месте , мы стараемся
                            придерживаться лучшего сочетания цены и качества нашей продукции на рынке . </p>

                        <p>команда профессионалов подберет найлучшие варианты соотношения цены и качества и обеспечит
                            высокоэффективными продуктами согласно требованиям рынка разных стран и регионов . В то же
                            время мы занимаемся независимыми научными исследованиями и разработками для продаж
                            профессиональной «Хит» продукции . </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ABOUT SECTION END -->

    <!-- FEATURED PRODUCT SECTION START -->
    <div class="featured-product-section section-bg-tb pt-80 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left mb-20">
                        <h2 class="uppercase">新产品</h2>
                    </div>
                </div>
            </div>
            <div class="featured-product">
                <div class="row active-featured-product slick-arrow-2">
                    <!-------------------- start ----------------------->
                    <#if newLampList ??>
                    <#assign x=0>
                    <#list newLampList as lampList>
                    <#assign x=x+1>
                    <!-- product-item start -->
                    <div class="col-xs-12">
                        <div class="product-item product-item-2">
                            <div class="product-img">
                                <a href="javascript:detail(${lampList.id})">
                                    <img src="${lampList.productTitleImage}" alt=""/>
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="javascript:detail(${lampList.id})">${lampList.model}</a>
                                </h6>
                                <h6 class="brand-name">
                                    <#if (lampList.productType = 1)>
                                    Lighting  sources
                                </#if>
                                <#if (lampList.productType = 2)>
                                Commercial lights
                            </#if>
                            <#if (lampList.productType = 3)>
                            Tri-proof fixtures
                        </#if>
                        <#if (lampList.productType = 4 )>
                        LED Strip Lights
                    </#if>
                    <#if (lampList.productType = 5 )>
                    Flood lamps
                </#if>
                                </h6>

                            </div>
                            <ul class="action-button text-center">
                                <li>
                                    <a href="#" data-toggle="modal"  onclick="deltailByModal(${lampList.id})" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- product-item end -->

                    <#if x == 8>
                    <#break>
                    </#if>
            </#list>
                    </#if>
<!-------------------- end ----------------------->
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURED PRODUCT SECTION END -->

    <!-- UP COMMING PRODUCT SECTION START -->
    <div class="up-comming-product-section ptb-60">
        <div class="container">
            <div class="row">
                <!-- up-comming-pro -->
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="up-comming-pro-info" style="padding-left: 50px;width: 100%;">
                            <h3><a href="#">公司在行业中的定位等等</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitest, sed do eiusmod tempor
                                incididunt ut labore et dolores top magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat. laborum. </p>
                            <div class="up-comming-time-2 clearfix">
                                <div data-countdown="2017/01/15"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 f-left" style="padding: 0;">
                        <!--<img src="home/img/up-comming/2.jpg" alt="">-->
                        <!--</a>-->
                        <video src="home/video/20.mp4" controls="controls" width="100%"></video>
                    </div>
                </div>
                <div class="up-comming-pro gray-bg up-comming-pro-2 clearfix">
                    <!--<a href="#">-->
                </div>
                <!--<div class="col-md-4 hidden-sm col-xs-12">-->
                <!--<div class="banner-item banner-1">-->
                <!--<div class="ribbon-price">-->
                <!--<span>$ 896.00</span>-->
                <!--</div>-->
                <!--<div class="banner-img">-->
                <!--<a href="#"><img src="home/img/banner/1.jpg" alt=""></a>-->
                <!--</div>-->
                <!--<div class="banner-info">-->
                <!--<h3><a href="#">产品名称</a></h3>-->
                <!--<ul class="banner-featured-list">-->
                <!--<li>-->
                <!--<i class="zmdi zmdi-check"></i><span>Lorem ipsum dolor</span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<i class="zmdi zmdi-check"></i><span>amet, consectetur</span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<i class="zmdi zmdi-check"></i><span>adipisicing elitest,</span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<i class="zmdi zmdi-check"></i><span>eiusmod tempor</span>-->
                <!--</li>-->
                <!--<li>-->
                <!--<i class="zmdi zmdi-check"></i><span>labore et dolore.</span>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- UP COMMING PRODUCT SECTION END -->

    <!-- PRODUCT TAB SECTION START -->
    <div class="product-tab-section section-bg-tb pt-80 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="section-title text-left mb-40">
                        <h2 class="uppercase">产品分类</h2>
                        <h6>我公司主要的产品分类，全部产品详细请参考产品手册</h6>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="pro-tab-menu pro-tab-menu-2 text-right">
                        <!-- Nav tabs -->
                        <ul class="">
                            <li class="active"><a href="#popular-product" data-toggle="tab">Lighting sources</a></li>
                            <li><a href="#new-arrival" data-toggle="tab">Commercial lights</a></li>
                            <li><a href="#best-seller" data-toggle="tab">Tri-proof fixtures</a></li>
                            <li><a href="#special-offer" data-toggle="tab">LED Strip Lights</a></li>
                            <li><a href="#special-Flood" data-toggle="tab">Flood lamps</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-tab">
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- popular-lamp start -->
                    <div class="tab-pane active" id="popular-product">
                        <div class="row">
                            <!--         start           -->
                            <#if lampWithBLOBsList ??>
                            <#assign x=0>
                            <#list lampWithBLOBsList as lampList>
                            <#assign x=x+1>
                            <!-- lamp-item start -->
                            <#if (lampList.productType = 1)>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item product-item-2">
                                    <div class="product-img">
                                        <a href="javascript:detail(${lampList.id})">
                                            <img src="${lampList.productTitleImage}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="javascript:detail(${lampList.id})">${lampList.model}</a>
                                        </h6>
                                        <h6 class="brand-name">
                                            <#if (lampList.productType = 1)>
                                            Lighting  sources
                                        </#if>
                                        <#if (lampList.productType = 2)>
                                        Commercial lights
                                    </#if>
                                    <#if (lampList.productType = 3)>
                                    Tri-proof fixtures
                                </#if>
                                <#if (lampList.productType = 4 )>
                                LED Strip Lights
                            </#if>
                            <#if (lampList.productType = 5 )>
                            Flood lamps
                        </#if>
                            </h6>

                        </div>
                        <ul class="action-button text-center">
                            <li>
                                <a href="" onclick="deltailByModal(${lampList.id})"  data-toggle="modal" data-target="#productModal"
                                   title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- lamp-item end -->
            </#if>
            <#if x == 8>
            <#break>
        </#if>
    </#list>
</#if>
<!--         end           -->

                        </div>
                    </div>
                    <!-- popular-lamp end -->
                    <!-- new-arrival start -->
                    <div class="tab-pane" id="new-arrival">
                        <div class="row">
                            <!--         start           -->
                            <#if lampWithBLOBsList ??>
                            <#assign x=0>
                            <#list lampWithBLOBsList as lampList>
                                <#assign x=x+1>
                            <!-- lamp-item start -->
                            <#if (lampList.productType = 2)>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item product-item-2">
                                    <div class="product-img">
                                        <a href="javascript:detail(${lampList.id})">
                                            <img src="${lampList.productTitleImage}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="javascript:detail(${lampList.id})">${lampList.model}</a>
                                        </h6>
                                        <h6 class="brand-name">
                                            <#if (lampList.productType = 1)>
                                            Lighting  sources
                                        </#if>
                                        <#if (lampList.productType = 2)>
                                        Commercial lights
                                    </#if>
                                    <#if (lampList.productType = 3)>
                                    Tri-proof fixtures
                                </#if>
                                <#if (lampList.productType = 4 )>
                                LED Strip Lights
                            </#if>
                            <#if (lampList.productType = 5 )>
                            Flood lamps
                        </#if>
                                        </h6>

                                    </div>
                                    <ul class="action-button text-center">
                                        <li>
                                            <a href="" onclick="deltailByModal(${lampList.id})"  data-toggle="modal" data-target="#productModal"
                                               title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- lamp-item end -->
                            </#if>
                                <#if x == 8>
                                    <#break>
                                </#if>
                        </#list>
                    </#if>
                    <!--         end           -->
                        </div>
                    </div>
                    <!-- new-arrival end -->
                    <!-- best-seller start -->
                    <div class="tab-pane" id="best-seller">
                        <div class="row">
                            <!-- lamp-item start -->
                            <!--         start           -->
                            <#if lampWithBLOBsList ??>
                            <#assign x=0>
                            <#list lampWithBLOBsList as lampList>
                            <#assign x=x+1>
                            <!-- lamp-item start -->
                            <#if (lampList.productType = 3)>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item product-item-2">
                                    <div class="product-img">
                                        <a href="javascript:detail(${lampList.id})">
                                            <img src="${lampList.productTitleImage}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="javascript:detail(${lampList.id})">${lampList.model}</a>
                                        </h6>
                                        <h6 class="brand-name">
                                            <#if (lampList.productType = 1)>
                                            Lighting  sources
                                        </#if>
                                        <#if (lampList.productType = 2)>
                                        Commercial lights
                                    </#if>
                                    <#if (lampList.productType = 3)>
                                    Tri-proof fixtures
                                </#if>
                                <#if (lampList.productType = 4 )>
                                LED Strip Lights
                            </#if>
                            <#if (lampList.productType = 5 )>
                            Flood lamps
                        </#if>
                            </h6>

                        </div>
                        <ul class="action-button text-center">
                            <li>
                                <a href="" onclick="deltailByModal(${lampList.id})"  data-toggle="modal" data-target="#productModal"
                                   title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                            </li>
                        </ul>
                    </div>
</div>
<!-- lamp-item end -->
</#if>
<#if x == 8>
<#break>
</#if>
</#list>
</#if>
<!--         end           -->
                            <!-- lamp-item end -->
                        </div>
                    </div>
                    <!-- best-seller end -->
                    <!-- special-offer start -->
                    <div class="tab-pane" id="special-offer">
                        <div class="row">
                            <!-- lamp-item start -->
                            <!--         start           -->
                            <#if lampWithBLOBsList ??>
                            <#assign x=0>
                            <#list lampWithBLOBsList as lampList>
                            <#assign x=x+1>
                            <!-- lamp-item start -->
                            <#if (lampList.productType = 4)>
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item product-item-2">
                                    <div class="product-img">
                                        <a href="javascript:detail(${lampList.id})">
                                            <img src="${lampList.productTitleImage}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="javascript:detail(${lampList.id})">${lampList.model}</a>
                                        </h6>
                                        <h6 class="brand-name">
                                            <#if (lampList.productType = 1)>
                                            Lighting  sources
                                        </#if>
                                        <#if (lampList.productType = 2)>
                                        Commercial lights
                                    </#if>
                                    <#if (lampList.productType = 3)>
                                    Tri-proof fixtures
                                </#if>
                                <#if (lampList.productType = 4 )>
                                LED Strip Lights
                            </#if>
                            <#if (lampList.productType = 5 )>
                            Flood lamps
                        </#if>
                            </h6>

                        </div>
                        <ul class="action-button text-center">
                            <li>
                                <a href=""  onclick="deltailByModal(${lampList.id})" data-toggle="modal" data-target="#productModal"
                                   title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                            </li>
                        </ul>
                    </div>
</div>
<!-- lamp-item end -->
</#if>
<#if x == 8>
<#break>
</#if>
</#list>
</#if>
<!--         end           -->
                            <!-- lamp-item end -->
                        </div>
                    </div>
<div class="tab-pane" id="special-Flood">
    <div class="row">
        <!-- lamp-item start -->
        <!--         start           -->
        <#if lampWithBLOBsList ??>
        <#assign x=0>
        <#list lampWithBLOBsList as lampList>
        <#assign x=x+1>
        <!-- lamp-item start -->
        <#if (lampList.productType = 5)>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="product-item product-item-2">
                <div class="product-img">
                    <a href="javascript:detail(${lampList.id})">
                        <img src="${lampList.productTitleImage}" alt=""/>
                    </a>
                </div>
                <div class="product-info">
                    <h6 class="product-title">
                        <a href="javascript:detail(${lampList.id})">${lampList.model}</a>
                    </h6>
                    <h6 class="brand-name">
                        <#if (lampList.productType = 1)>
                        Lighting  sources
                    </#if>
                    <#if (lampList.productType = 2)>
                    Commercial lights
                </#if>
                <#if (lampList.productType = 3)>
                Tri-proof fixtures
            </#if>
            <#if (lampList.productType = 4 )>
            LED Strip Lights
        </#if>
        <#if (lampList.productType = 5 )>
        Flood lamps
    </#if>
    </h6>

</div>
<ul class="action-button text-center">
    <li>
        <a href="" onclick="deltailByModal(${lampList.id})"  data-toggle="modal" data-target="#productModal"
           title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
    </li>
</ul>
</div>
</div>
<!-- lamp-item end -->
</#if>
<#if x == 8>
<#break>
</#if>
</#list>
</#if>
<!--         end           -->
<!-- lamp-item end -->
</div>
</div>
                    <!-- special-offer end -->
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT TAB SECTION END -->

    <!-- BLOG SECTION START -->
    <div class="blog-section-2 pt-60 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-left mb-40">
                        <h2 class="uppercase">新闻</h2>
                        <h6>关于产品和企业发展的一些新闻</h6>
                    </div>
                </div>
            </div>
            <div class="blog">
                <div class="row active-blog-2">
                    <!-- blog-item start -->
                    <!----------------------------------start------------------------------------------>
                    <#if newsWithBLOBsList??>
                    <#assign x=0>
                    <#list newsWithBLOBsList as newsList>
                    <#assign x=x+1>
                    <div class="col-xs-12">
                        <div class="blog-item-2">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="blog-image">
                                        <a href="javascript:newsDetail(${newsList.id})"><img src="${newsList.newsTitleImage}" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="blog-desc">
                                        <h5 class="blog-title-2"><a href="/newsDetail">${newsList.title}</a></h5>
                                        <p>${newsList.digest}</p>
                                        <div class="read-more">
                                            <a href="javascript:newsDetail(${newsList.id})">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <#if x == 4>
                    <#break>
                </#if>
                    </#list>
                </#if>
                   <!----------------------------------end------------------------------------------>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOG SECTION END -->

    <!-- NEWSLETTER SECTION START -->
    <div class="newsletter-section section-bg-tb pt-60 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <div class="newsletter">
                        <div class="newsletter-info text-center">
                            <h2 class="newsletter-title">get a newsletter</h2>
                            <p>Make sure that you never miss our interesting news <br class="hidden-xs">by joining our
                                newsletter program.</p>
                        </div>
                        <div class="subcribe clearfix">
                            <form action="#">
                                <input type="text" name="email" placeholder="Enter your email here..."/>
                                <button class="submit-btn-2 btn-hover-2" type="submit">subcribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- NEWSLETTER SECTION END -->
</section>
<!-- END PAGE CONTENT -->

<!-- START FOOTER AREA -->
<footer id="footer" class="footer-area footer-2">
    <div class="footer-top footer-top-2 text-center ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-logo">
                        <!--<img src="home/img/logo/logo.png" alt="">-->
                        <p>凯笛佳照明（深圳）有限公司</p>
                    </div>
                    <ul class="footer-menu-2">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">LED knowledge</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-bottom-2 text-center gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <div class="copyright-text copyright-text-2">
                        <p>&copy; <a href="#" target="_blank">凯笛佳照明</a> 2016. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul class="footer-social footer-social-2">
                        <li>
                            <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                        </li>
                        <li>
                            <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                        </li>
                        <li>
                            <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-3">
                    <ul class="footer-payment">
                        <li>
                            <a href="#"><img src="home/img/payment/1.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="home/img/payment/2.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="home/img/payment/3.jpg" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="home/img/payment/4.jpg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER AREA -->

<!-- START QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product clearfix">
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="" id="productTitleImage-formodal" src="">
                            </div>
                        </div><!-- .lamp-images -->

                        <div class="product-info">
                            <h1 id="model-formodaltitle" ></h1>
                            <div class="price-box-3">
                                <div class="s-price-box">
                                    <span class="new-price" id="productType-formodal"></span>
                                </div>
                            </div>
                            <!--<div class="quick-add-to-cart">-->
                            <!--<form method="post" class="cart">-->
                            <!--<div class="numbers-row">-->
                            <!--<input type="number" id="french-hens" value="3">-->
                            <!--</div>-->
                            <!--<button class="single_add_to_cart_button" type="submit">Add to cart</button>-->
                            <!--</form>-->
                            <!--</div>-->
                            <div class="quick-desc">
                                <p>Model: <span id="model-formodal"></span></p>
                                <p>Voltage(V): <span id="voltage-formodal"></span></p>
                                <p>Power(W): <span id="power-formodal"></span></p>
                                <p>Lumen(Im): <span id="lumen-formodal"></span></p>
                                <p>Lamp size: <span id="size-formadal"></span></p>
                                <p>LED Quantity: <span id="quantity-formodal"></span></p>
                                <p>lamp Body Material: <span id="material-formodal"></span></p>
                            </div>
                            <a href="" id="seeall" class="see-all">See all features</a>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social-icons clearfix">
                                        <li>
                                            <a class="facebook" href="#" target="_blank" title="Facebook">
                                                <i class="zmdi zmdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="google-plus" href="#" target="_blank" title="Google +">
                                                <i class="zmdi zmdi-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#" target="_blank" title="Twitter">
                                                <i class="zmdi zmdi-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="pinterest" href="#" target="_blank" title="Pinterest">
                                                <i class="zmdi zmdi-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="rss" href="#" target="_blank" title="RSS">
                                                <i class="zmdi zmdi-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .lamp-info -->
                    </div><!-- .modal-lamp -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
</div>
<!-- END QUICKVIEW PRODUCT -->
</div>
<!-- Body main wrapper end -->


<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="home/js/vendor/jquery-3.1.1.min.js"></script>
<!-- Bootstrap framework js -->
<script src="home/js/bootstrap.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="home/lib/js/jquery.nivo.slider.js"></script>
<!-- All js plugins included in this file. -->
<script src="home/js/plugins.js"></script>
<!--e18n-->
<script src="home/js/jquery.translate.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="home/js/main.js"></script>
<script>

    function newsDetail(id) {
        $.ajax({
            type: 'GET',
            url:'/newsDetail?id='+ id,
            success: function(data) {
                window.location.href='/newsDetail?id='+id;

            },
            error: function(){
                alert('请求出错!');
            }
        })
    }

    function detail(id) {
        $.ajax({
            type: 'GET',
            url: '/lampDetail?id=' + id,
            success: function (data) {
                window.location.href = '/lampDetail?id=' + id;

            },
            error: function () {
                alert('请求出错!');
            }
        })
    }

    function deltailByModal(id) {
        console.log(id)
        $.ajax({
            type: 'GET',
            url: '/lampDetailByModal?id=' +id,
            dataType:'json',
            success: function (data){

                $("#productTitleImage-formodal").attr("src",data.productTitleImage);
                $("#model-formodaltitle").html(data.model)

                if(data.productType == 1 ){
                    $("#productType-formodal").html("Lighting  sources")
                }else if(data.productType == 2){
                    $("#productType-formodal").html("Commercial lights")
                }else if(data.productType == 3){
                    $("#productType-formodal").html("Tri-proof fixtures")
                }else if(data.productType == 4){
                    $("#productType-formodal").html("LED Strip Lights")
                }else if(data.productType == 5){
                    $("#productType-formodal").html("Flood lamps")
                }

                $("#model-formodal").html(data.model)
                $("#voltage-formodal").html(data.voltage)
                $("#power-formodal").html(data.power)
                $("#lumen-formodal").html(data.lumen)
                $("#size-formadal").html(data.size)
                $("#quantity-formodal").html(data.quantity)
                $("#material-formodal").html(data.material)
                $("#seeall").attr("href","javascript:detail(" +data.id+ ")");


            },
            error: function () {
                console.log("获取数据失败！")
            }
        })
    }

    //国际化部分

    var dict = {
        "Главная" : {
            py : "Главная",
            en : "home"
        },
        "Каталог" : {
            py : "Каталог",
            en : "product"
        },
        "Новости" : {
            py : "Новости",
            en : "News"
        },
        "LED знание" : {
            py : "LED знание",
            en : "LED knowledge"
        },
        "КАТИК" : {
            py : "КАТИК",
            en : "About us"
        },
        "Контакты" : {
            py : "Контакты",
            en : "Contact us"
        },
        "Скачать" : {
            py : "Скачать",
            en : "Download"
        }
    };

    var translator = $("body").translate({lang: "py", t: dict});


    $("#en").click(function () {
        translator.lang("en");
    });

    $("#py").click(function () {
        translator.lang("py");
    });

</script>

</body>

</html>