<#include "./home/public/header.html"/>


<!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section mb-80">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title">news list</h1>
                                <ul class="breadcrumb-list">
                                    <li><a href="">Home</a></li>
                                    <li>news list</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <div id="page-content" class="page-wrapper">

            <!-- BLOG SECTION START -->
            <div class="blog-section mb-50">
                <div class="container">
                    <div class="row">
                        <!-- blog-option start -->
                        <div class="col-md-12">
                            <div class="blog-option box-shadow mb-30  clearfix">
                                <!-- categories -->
                                <div class="dropdown f-left">
                                    <button class="option-btn">
                                        Categories
                                        <i class="zmdi zmdi-chevron-down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-width mt-30">
                                        <aside class="widget widget-categories box-shadow">
                                            <h6 class="widget-title border-left mb-20">Categories</h6>
                                            <div id="cat-treeview" class="product-cat">
                                                <ul>
                                                    <li class=""><a href="#">分类一</a></li>
                                                    <li class=""><a href="#">分类二</a></li>
                                                    <li class=""><a href="#">分类三</a></li>
                                                </ul>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                                <!-- Tags -->
                                <!--<div class="dropdown f-left">-->
                                    <!--<button class="option-btn">-->
                                        <!--Tags-->
                                        <!--<i class="zmdi zmdi-chevron-down"></i>-->
                                    <!--</button>-->
                                    <!--<div class="dropdown-menu dropdown-width mt-30">-->
                                        <!--<aside class="widget widget-tags box-shadow">-->
                                            <!--<h6 class="widget-title border-left mb-20">Tags</h6>-->
                                            <!--<ul class="widget-tags-list">-->
                                                <!--<li><a href="#">Bleckgerry ios</a></li>-->
                                                <!--<li><a href="#">Symban</a></li>-->
                                                <!--<li><a href="#">IOS</a></li>-->
                                                <!--<li><a href="#">Bleckgerry</a></li>-->
                                                <!--<li><a href="#">Windows Phone</a></li>-->
                                                <!--<li><a href="#">Windows Phone</a></li>-->
                                                <!--<li><a href="#">Androids</a></li>-->
                                            <!--</ul>                  -->
                                        <!--</aside>      -->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <!-- blog-option end -->
                    </div>
                    <div id = "news-list-content">
                    <#if newsListPageModel ??>
                    <div class="row">
                        <!-- blog-item start -->
                        <#list newsListPageModel.newsList as newsList>
                        <div class="col-sm-6 col-xs-12">
                            <div class="blog-item-2">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="blog-image">
                                            <a href="/newsDetail"><img src="home/img/blog/1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="">
                                            <h5 class="blog-title-2"><a href="/newsDetail">${newsList.title}</a></h5>
                                            <p>${newsList.digest}</p>
                                            <div class="read-more">
                                                <a href="/newsDetail?id="+${newsList.id}>更多</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </#list>
                        <!-- blog-item end -->
                    </div>
                <#if newsListPageModel.nextPage ??>
                    <ul class="shop-pagination box-shadow text-center ptblr-10-30">
                        <#if (newsListPageModel.currentPage = 1)>
                             <#else>
                                 <li><a href="javaScript:queryByPage(${newsListPageModel.prevPage})"><i class="zmdi zmdi-chevron-left"></i></a></li>
                         </#if>
                            <#list 1..newsListPageModel.count as i >
                                <li <#if ( newsListPageModel.currentPage = i)> class="active" </#if>>
                                <a href="JavaScript:queryByPage(${i});" >${i_index+1}</a>
                                </li>
                            </#list>

                        <#if (newsListPageModel.currentPage=newsListPageModel.count)>
                             <#else >
                                <li class="next">
                                    <a href="javaScript:queryByPage(${newsListPageModel.nextPage})"><i class="zmdi zmdi-chevron-right"></i></a>
                                </li>
                        </#if>
                    </ul>
              </#if>
            </#if>
        </div>
                </div>
            </div>
            <!-- BLOG SECTION END -->             
        </div>
        <!-- End page content -->

<#include "./home/public/footer.html"/>


<script>
    function queryByPage(pageNum) {
        $.ajax({
            type:'GET',
            url:'/newsListByPage?pageNum='+pageNum,
            success: function (data) {
                $("#news-list-content").html();
                $("#news-list-content").html(data);
            }
        });

    }

</script>