<#include "./home/public/header.html"/>

<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">LED Knowledge</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="">Home</a></li>
                            <li>LED Knowledge</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->

<!-- Start page content -->
<div id="page-content" class="page-wrapper">

    <!-- BLOG SECTION START -->
    <div class="blog-section mb-50">
        <div class="container">
            <div class="row">
                <!-- blog-option start -->
                <div class="col-md-12">
                    <div class="blog-option box-shadow mb-30  clearfix">
                        <!-- categories -->
                        <div class="dropdown f-left">
                            <button class="option-btn">
                                Categories
                                <i class="zmdi zmdi-chevron-down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-width mt-30">
                                <aside class="widget widget-categories box-shadow">
                                    <h6 class="widget-title border-left mb-20">Categories</h6>
                                    <div id="cat-treeview" class="product-cat">
                                        <ul>
                                            <li class=""><a href="#">分类一</a></li>
                                            <li class=""><a href="#">分类二</a></li>
                                            <li class=""><a href="#">分类三</a></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- blog-option end -->
            </div>
            <div id="knowledge-list-content">
                <#if knowledgeListPageModel ??>
                    <div class="row">
                        <!-- blog-item start -->
                        <#list knowledgeListPageModel.knowledgeList as knowledgeList>
                            <div class="col-md-4 hidden-sm col-xs-12">
                                <div class="blog-item">
                                    <img src="${knowledgeList.cyclopediaTitleImage}" alt="">
                                    <div class="blog-desc">
                                        <h5 class="blog-title"><a href="javascript:queryById(${knowledgeList.id})">${knowledgeList.title}</a>
                                        </h5>
                                        <p>${knowledgeList.description}</p>
                                        <div class="read-more">
                                            <a href="/knowledgeDetail?id="+${knowledgeList.id}>Read more</a>
                                        </div>
                                        <!--<ul class="blog-meta pull-right">-->
                                            <!--<li>-->
                                                <!--<a href="#"><i class="zmdi zmdi-favorite"></i>89 Like</a>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    </div>
                                </div>
                            </div>
                        </#list>
                        <!-- blog-item end -->
                    </div>
                    <#if knowledgeListPageModel.nextPage ??>
                        <ul class="shop-pagination box-shadow text-center ptblr-10-30">
                            <#if (knowledgeListPageModel.currentPage = 1)>
                                <#else>
                                    <li><a href="javaScript:queryByPage(${knowledgeListPageModel.prevPage})"><i
                                            class="zmdi zmdi-chevron-left"></i></a></li>
                            </#if>
                            <#list 1..knowledgeListPageModel.count as i >
                                <li
                                <#if ( knowledgeListPageModel.currentPage = i)> class="active"</#if>
                                >
                                <a href="JavaScript:queryByPage(${i});">${i_index+1}</a>
                                </li>
                            </#list>

                            <#if (knowledgeListPageModel.currentPage=knowledgeListPageModel.count)>
                                <#else>
                                    <li class="next">
                                        <a href="javaScript:queryByPage(${knowledgeListPageModel.nextPage})"><i
                                                class="zmdi zmdi-chevron-right"></i></a>
                                    </li>
                            </#if>
                        </ul>
                    </#if>

                </#if>
            </div>
        </div>
    </div>
    <!-- BLOG SECTION END -->

</div>
<!-- End page content -->

<#include "./home/public/footer.html"/>


<script>
    function queryByPage(pageNum) {
        $.ajax({
            type: 'GET',
            url: '/knowledgeListByPage?pageNum='+pageNum,
            success: function (data) {
                $('#knowledge-list-content').html();
                $('#knowledge-list-content').html(data);
            }

        });
    }

    function queryById(id) {
        $.ajax({
            type: 'GET',
            url: '/knowledgeDetail?id='+ id,
            success: function(data){
                window.location.href = '/knowledgeDetail?id='+ id;
            },
            error: function () {
                alert('请求出错啦。。。')
            }
        })
    }
</script>