<#include 'admin/common/header.html'/>
<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title-box">
                            <h4 class="page-title">发布灯饰产品</h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="col-md-12 m-b-30 m-t-0">
                                <h3 class="header-title pull-left"><b>编辑灯饰</b></h3>
                                <div class="pull-right">
                                    <button class="btn btn-info inline-btn" onclick="javascript:clearForm()">清空</button>
                                    <button class="btn btn-purple inline-btn" onclick="javascript:backList()">取消
                                    </button>
                                    <button class="btn btn-success  inline-btn" onclick="javascript:submitEditData() ">
                                        提交
                                    </button>
                                </div>
                            </div>
                            <div class="row form-horizontal">
                                <form id="editLampForm">
                                    <input type="text" id="id" name="id" value="${lampEditPageModel.id}"
                                           style="display: none">
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">产品名称</label>
                                        <div class="col-md-10">
                                            <input type="text" id="model" name="model" class="form-control"
                                                   value="${lampEditPageModel.model}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">产品类型</label>
                                        <div class="col-md-10">
                                            <input type="hidden" id="productTypeValue" value="${lampEditPageModel.productType}">
                                            <select class="form-control" data-style="btn-custom" id="productType" name="productType" >
                                                <option value="0">请选择产品类型</option>
                                                <option value="1">G4/G9</option>
                                                <option value="2">球泡灯</option>
                                                <option value="3">灯丝灯</option>
                                                <option value="4">面板灯</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">产品标题</label>
                                        <div class="col-md-10">
                                            <input type="text" id="title" name="title" class="form-control"
                                                   value="${lampEditPageModel.title}" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">关键字</label>
                                        <div class="col-md-10">
                                            <input type="text" id="keyWords" name="keywords" class="form-control"
                                                   value="${lampEditPageModel.keywords}" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">功率</label>
                                        <div class="col-md-10">
                                            <input type="text" id="power" name="power" class="form-control"
                                                   value="${lampEditPageModel.power}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">功率因素</label>
                                        <div class="col-md-10">
                                            <input type="text" id="powerFactor" name="powerFactor" class="form-control"
                                                   value="${lampEditPageModel.powerFactor}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">电压</label>
                                        <div class="col-md-10">
                                            <input type="text" id="voltage" name="voltage" class="form-control"
                                                   value="${lampEditPageModel.voltage}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">光通量</label>
                                        <div class="col-md-10">
                                            <input type="text" id="lumen" name="lumen" class="form-control"
                                                   value="${lampEditPageModel.lumen}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">尺寸</label>
                                        <div class="col-md-10">
                                            <input type="text" id="size" name="size" class="form-control"
                                                   value="${lampEditPageModel.size}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">材料</label>
                                        <div class="col-md-10">
                                            <input type="text" id="material" name="material" class="form-control"
                                                   value="${lampEditPageModel.material}">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">上传图片</label>
                                        <div class="col-md-10">
                                            <input type="file" class="filestyle" id="titImage" name="titImage" data-buttonname="btn-default">
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">发布时间</label>
                                        <div class="col-md-10">
                                            <div>
                                                <div class="input-group">
                                                    <input type="text" id="productCreateTime" name="productCreateTime" class="form-control"  value=" ${(lampEditPageModel.productCreateTime ? string('MM/dd/yyyy'))!''}">
                                                    <span class="input-group-addon bg-custom b-0"><i
                                                            class="mdi mdi-calendar text-white"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group  col-md-6 col-sm-6">
                                        <label class="col-md-2 control-label">产品简介</label>
                                        <div class="col-md-10">
                                        <textarea id="description" class="form-control" maxlength="225" rows="3" name="description"
                                                  placeholder="最多225个字符">${lampEditPageModel.description}</textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            2018 ©  by Catik.
        </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div class="side-bar right-bar">
        <a href="javascript:void(0);" class="right-bar-toggle">
            <i class="mdi mdi-close-circle-outline"></i>
        </a>
        <h4 class="">Settings</h4>
        <div class="setting-list nicescroll">
            <div class="row m-t-20">
                <div class="col-xs-8">
                    <h5 class="m-0">Notifications</h5>
                    <p class="text-muted m-b-0">
                        <small>Do you need them?</small>
                    </p>
                </div>
                <div class="col-xs-4 text-right">
                    <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-xs-8">
                    <h5 class="m-0">API Access</h5>
                    <p class="m-b-0 text-muted">
                        <small>Enable/Disable access</small>
                    </p>
                </div>
                <div class="col-xs-4 text-right">
                    <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-xs-8">
                    <h5 class="m-0">Auto Updates</h5>
                    <p class="m-b-0 text-muted">
                        <small>Keep up to date</small>
                    </p>
                </div>
                <div class="col-xs-4 text-right">
                    <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                </div>
            </div>

            <div class="row m-t-20">
                <div class="col-xs-8">
                    <h5 class="m-0">Online Status</h5>
                    <p class="m-b-0 text-muted">
                        <small>Show your status to all</small>
                    </p>
                </div>
                <div class="col-xs-4 text-right">
                    <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                </div>
            </div>
        </div>
    </div>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->


<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="admin/assets/js/jquery.min.js"></script>
<script src="admin/assets/js/bootstrap.min.js"></script>
<script src="admin/assets/js/detect.js"></script>
<script src="admin/assets/js/fastclick.js"></script>
<script src="admin/assets/js/jquery.blockUI.js"></script>
<script src="admin/assets/js/waves.js"></script>
<script src="admin/assets/js/jquery.slimscroll.js"></script>
<script src="admin/assets/js/jquery.scrollTo.min.js"></script>
<script src="admin/plugins/switchery/switchery.min.js"></script>

<!--Summernote js-->
<script src="admin/plugins/summernote/summernote.min.js"></script>

<script src="admin/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<script src="admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script src="admin/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<!-- App js -->
<script src="admin/assets/js/jquery.core.js"></script>
<script src="admin/assets/js/jquery.app.js"></script>
<!--引入lay弹层js-->
<script src="common/layui-v2.3.0/layui.js"></script>
<!-- 引入pnotify -->
<#include "./common/js/nitify_js.html">

<script>

    $(document).ready(function () {
        //下拉赋值
        var productType = $("#productTypeValue").val();
        $("#productType option[value='"+productType+"']").attr("selected", "selected");


        //初始化文本编辑器
        $('.summernote').summernote({
            height: 700,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false,                 // set focus to editable area after initializing summernote
            callbacks: {
                onImageUpload: function (files) {
                    for (var i = files.length - 1; i >= 0; i--) {
                        UploadFiles(files[i], this);
                    }
                }
            }
        });
    });

    function UploadFiles(file, el) {
        console.log(110);
        //这里files是因为我设置了可上传多张图片，所以需要依次添加到formData中
        var formData = new FormData();
        formData.append("file", file);
        console.log(formData);
        $.ajax({
            data: formData,
            type: "POST",
            url: "/save-file",
            cache: false,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (response) {
                console.log(response);
                $(el).summernote('editor.insertImage', response.list[0].url, response.list[0].fileId);
            },
            error: function () {
                console.log("uploadError");
            }
        })
    }

    //提交编辑数据ajax公共调用函数
    function submitEditData() {
        //获取表单数据
        var formData = new FormData(document.getElementById("editLampForm"));

        //表单验证
        var model = formData.get("model")
        var productType = formData.get("productType");
        var title = formData.get("title");
        var keywords = formData.get("keywords");
        var power = formData.get("power");
        var powerFactor = formData.get("powerFactor");
        var voltage = formData.get("voltage");
        var lumen = formData.get("lumen");
        var size = formData.get("size");
        var material = formData.get("material");
        var productCreateTime = formData.get("productCreateTime");
        var description = formData.get("description");

        if(model == null || model === "" || model === undefined){
            notify_error("请填写产品名称")
            return;
        }
        if(productType == 0){
            notify_error("请选择产品型号！")
            return;
        }
        if(title === "" || title == null || title === undefined){
            notify_error("请填写产品标题！")
            return;
        }
        if(keywords === "" || keywords == null || keywords === undefined){
            notify_error("请填写关键字！")
            return;
        }
        if(power === "" || power == null || power === undefined){
            notify_error("请填写功率！")
            return;
        }
        if(powerFactor === "" || powerFactor == null || powerFactor === undefined){
            notify_error("请填写功率因素！")
            return;
        }
        if(voltage === "" || voltage == null || voltage === undefined){
            notify_error("请填写电压！")
            return;
        }
        if(lumen === "" || lumen == null || lumen === undefined){
            notify_error("请填写光通量！")
            return;
        }
        if(size === "" || size == null || size === undefined){
            notify_error("请填写尺寸！")
            return;
        }
        if(material === "" || material == null || material === undefined){
            notify_error("请填写材料！")
            return;
        }
        if(productCreateTime === "" || productCreateTime == null || productCreateTime === undefined){
            notify_error("请填写发布时间！")
            return;
        }
        if(description === "" || description == null || description === undefined){
            notify_error("请填写产品简介！")
            return;
        }

        $.ajax({
            type: 'POST',
             url: '/save-lamp',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: function(data) {
                if(data.code == "succeed"){
                    notify_sucess(data.data);
                }
                if(data.code == "error"){
                    notify_error(data.data)
                    return;
                }
                //返回新闻列表页(返回时延时1秒，让用户看到提示信息)
                setTimeout(function () {
                    backList();
                },1000);
            },
            error: function() {
                notify_error("保存出错，请重试！");
            }
        })
    }

    //清空表单
    function clearForm(){
        $('#editLampForm :input').val("");
    }

    //返回列表
    function backList() {
        location.href="/lamp-list";
    }

    // Date Picker
    $('#productCreateTime').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy/mm/dd'
    });

    //file upload
    $(":file").filestyle({input: true});
    $('.selectpicker').selectpicker();

</script>

</body>
</html>