<#include "./home/public/header.html"/>


<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">news list</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="">Home</a></li>
                            <li>news list</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->

<!-- Start page content -->
<div id="page-content" class="page-wrapper">

    <!-- BLOG SECTION START -->
    <div class="blog-section mb-50">
        <div class="container">
            <div class="row">
                <!-- blog-option start -->
                <div class="col-md-12">
                    <div class="blog-option box-shadow mb-30  clearfix">
                        <!-- categories -->
                        <div class="dropdown f-left">
                            <button class="option-btn">
                                Download
                            </button>
                        </div>
                        <!-- Tags -->
                        <!--<div class="dropdown f-left">-->
                        <!--<button class="option-btn">-->
                        <!--Tags-->
                        <!--<i class="zmdi zmdi-chevron-down"></i>-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu dropdown-width mt-30">-->
                        <!--<aside class="widget widget-tags box-shadow">-->
                        <!--<h6 class="widget-title border-left mb-20">Tags</h6>-->
                        <!--<ul class="widget-tags-list">-->
                        <!--<li><a href="#">Bleckgerry ios</a></li>-->
                        <!--<li><a href="#">Symban</a></li>-->
                        <!--<li><a href="#">IOS</a></li>-->
                        <!--<li><a href="#">Bleckgerry</a></li>-->
                        <!--<li><a href="#">Windows Phone</a></li>-->
                        <!--<li><a href="#">Windows Phone</a></li>-->
                        <!--<li><a href="#">Androids</a></li>-->
                        <!--</ul>                  -->
                        <!--</aside>      -->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- blog-option end -->
            </div>
            <div class="row" style="min-height: 200px;">
                <div class="col-md-12">
                    <div class="shop-list product-item">
                        <div class="product-info" style="width: 100%; padding: 10px 40px;">
                            <div class="clearfix">
                                <h6 class="product-title f-left mt-15" style="font-size: 20px;font-weight: 500;"><i class="zmdi zmdi-file-text mr-30"></i>Dummy Product Name</h6>
                                <div class="pro-rating f-right mt-10">
                                    <ul class="action-button">
                                        <!--<li>-->
                                            <!--<a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>-->
                                        <!--</li>-->
                                        <li>
                                            <a href="#" title="Add to cart"><i class="zmdi zmdi-download"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shop-pagination box-shadow text-center ptblr-10-30">
                <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                <li><a href="#">01</a></li>
                <li><a href="#">02</a></li>
                <li><a href="#">03</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">05</a></li>
                <li class="active"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- BLOG SECTION END -->
</div>
<!-- End page content -->

<#include "./home/public/footer.html"/>


