<!-- START FOOTER AREA -->
<footer id="footer" class="footer-area">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="footer-top-inner gray-bg">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-4">
                            <div class="single-footer footer-about">
                                <div class="footer-logo">
                                    <!--<img src="home/img/logo/logo.jpg" alt="">-->
                                    <h3>CATIK LIGHTING CO., LTD. Ltd</h3>
                                </div>
                                <div class="footer-brief">
                                    <p>AVIC SHENZHEN TRADING CORPORATION, Ltd is a subsidiary of the state-owned enterprise AVICINTERNATIONAL.</p>
                                    <p>The corporation has long specialized in the import and export business in LED lighting and other electrical products.</p>
                                </div>
                                <ul class="footer-social">
                                    <li>
                                        <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 hidden-md hidden-sm">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">menus</h4>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Home</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Products</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>News</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>LED knowledge</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>About us</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="zmdi zmdi-circle"></i><span>Contact</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="single-footer">
                                <h4 class="footer-title border-left">Get in touch</h4>
                                <div class="footer-message">
                                    <form action="#">
                                        <input type="text" name="name" placeholder="Your name here...">
                                        <input type="text" name="email" placeholder="Your email here...">
                                        <textarea class="height-80" name="message" placeholder="Your messege here..."></textarea>
                                        <button class="submit-btn-1 mt-20 btn-hover-1" type="submit">submit message</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg">
        <div class="container-fluid">
            <div class="plr-185">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright-text copyright-text-2">
                                <p>&copy; <a href="#" target="_blank">凯笛佳照明</a> 2018. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <ul class="footer-payment text-right">
                                <li>
                                    <a href="#"><img src="home/img/payment/1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="home/img/payment/2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="home/img/payment/3.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="home/img/payment/4.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER AREA -->

<!-- START QUICKVIEW PRODUCT -->
<div id="quickview-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-product clearfix">
                        <div class="product-images">
                            <div class="main-image images">
                                <img alt="" src="home/img/product/quickview.jpg">
                            </div>
                        </div><!-- .lamp-images -->

                        <div class="product-info">
                            <h1>AC220V/12V G4-SMD-2.5W</h1>
                            <div class="price-box-3">
                                <div class="s-price-box">
                                    <span class="new-price">G4-SMD-2.5W</span>
                                </div>
                            </div>
                            <!--<div class="quick-add-to-cart">-->
                            <!--<form method="post" class="cart">-->
                            <!--<div class="numbers-row">-->
                            <!--<input type="number" id="french-hens" value="3">-->
                            <!--</div>-->
                            <!--<button class="single_add_to_cart_button" type="submit">Add to cart</button>-->
                            <!--</form>-->
                            <!--</div>-->
                            <div class="quick-desc">
                                <p>Modal: <span>AC220V/12V G4-SMD-2.5W</span></p>
                                <p>Voltage(V): <span>DC12V</span></p>
                                <p>Power(W): <span>2W±0.2W</span></p>
                                <p>Lumen(Im): <span>150Im±30Im</span></p>
                                <p>Lamp size: <span>10*32mm</span></p>
                                <p>LED Quantity: <span>COB</span></p>
                                <p>lamp Body Material: <span>Silica gel</span></p>
                            </div>
                            <a href="single-product-left-sidebar.html" class="see-all">See all features</a>
                            <div class="social-sharing">
                                <div class="widget widget_socialsharing_widget">
                                    <h3 class="widget-title-modal">Share this product</h3>
                                    <ul class="social-icons clearfix">
                                        <li>
                                            <a class="facebook" href="#" target="_blank" title="Facebook">
                                                <i class="zmdi zmdi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="google-plus" href="#" target="_blank" title="Google +">
                                                <i class="zmdi zmdi-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="twitter" href="#" target="_blank" title="Twitter">
                                                <i class="zmdi zmdi-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="pinterest" href="#" target="_blank" title="Pinterest">
                                                <i class="zmdi zmdi-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="rss" href="#" target="_blank" title="RSS">
                                                <i class="zmdi zmdi-rss"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .lamp-info -->
                    </div><!-- .modal-lamp -->
                </div><!-- .modal-body -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- END Modal -->
</div>
<!-- END QUICKVIEW PRODUCT -->
</div>
<!-- Body main wrapper end -->


<!-- Placed JS at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="home/js/vendor/jquery-3.1.1.min.js"></script>
<!-- Bootstrap framework js -->
<script src="home/js/bootstrap.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="home/lib/js/jquery.nivo.slider.js"></script>
<!-- All js plugins included in this file. -->
<script src="home/js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="home/js/main.js"></script>

</body>

</html>