<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>凯笛佳照明（深圳）有限公司 || 主页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="home/img/icon/favicon.png">

    <!-- All CSS Files -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="home/css/bootstrap.min.css">
    <!-- Nivo-slider css -->
    <link rel="stylesheet" href="home/lib/css/nivo-slider.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="home/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="home/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="home/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="home/css/responsive.css">
    <!-- Template color css -->
    <link href="home/css/color/color-core.css" data-style="styles" rel="stylesheet">
    <!-- User style -->
    <link rel="stylesheet" href="home/css/custom.css">
    <!--font-->
    <link rel="stylesheet" href="home/font/glyphicons-halflings-regular.woff2">
    <!-- Modernizr JS -->
    <script src="home/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- START HEADER AREA -->
    <header class="header-area header-wrapper header-2">
        <!-- header-top-bar -->
        <div class="header-top-bar plr-185">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 hidden-xs">
                        <div class="call-us">
                            <p class="mb-0 roboto">凯笛佳照明（深圳）有限公司欢迎您！</p>
                        </div>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <div class="call-us f-right">
                            <p class="mb-0 roboto">(+88) 01234-567890</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-middle-area -->
        <div id="sticky-header" class="header-middle-area plr-185">
            <div class="container-fluid">
                <div class="full-width-mega-dropdown">
                    <div class="row">
                        <!-- logo -->
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="logo">
                                <a href="/">
                                    <!--<img src="home/img/logo/logo.png" alt="main logo">-->
                                    <h4 class="text-white" style="margin: 0;padding: 5px 0;font-size: 24px;font-weight: 600;letter-spacing: 1px;">CA<span style="color:#7fc1fc;
    text-transform: uppercase;
    font-family: 'Hind Madurai', sans-serif;
    ">TIK</span></h4>
                                </a>
                            </div>
                        </div>
                        <!-- primary-menu -->
                        <div class="col-md-8 hidden-sm hidden-xs">
                            <nav id="primary-menu">
                                <ul class="main-menu text-center">
                                    <li><a href="/">主页</a></li>
                                    <!--<li><a href="#">企业文化</a></li>-->
                                    <li><a href="#">产品</a>
                                        <ul class="dropdwn">
                                            <li>
                                                <a href="/lampList">灯饰产品</a>
                                            </li>
                                            <li>
                                                <a href="/powerList">电源产品</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/newsList">新闻</a>
                                        <ul class="dropdwn">
                                            <li>
                                                <a href="/newsList">行业新闻</a>
                                            </li>
                                            <li>
                                                <a href="/newsList">国内新闻</a>
                                            </li>
                                            <li>
                                                <a href="/newsList">国外新闻</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/knowledge">照明百科</a>
                                        <ul class="dropdwn">
                                            <li>
                                                <a href="/knowledge">LED</a>
                                            </li>
                                            <li>
                                                <a href="/knowledge">power</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/aboutUs">关于我们</a>
                                    </li>
                                    <li>
                                        <a href="/contactUs">联系我们</a>
                                    </li>
                                    <li>
                                        <a href="/manualList">资料下载</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- header-search & total-cart -->
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="search-top-cart  f-right">
                                <div class="header-account header-account-2 f-left">
                                    <ul class="user-meta">
                                        <li><a href="#"><i class="zmdi zmdi-view-headline"></i></a>
                                            <ul>
                                                <li><a href="#">English</a></li>
                                                <!--<li><a href="#">Русский язык</a></li>-->
                                                <li><a href="#">中文</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- total-cart -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER AREA -->

    <!--START MOBILE MENU AREA-->
    <!--<div class="mobile-menu-area hidden-lg hidden-md">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<div class="mobile-menu">-->
    <!--<nav id="dropdown">-->
    <!--<ul>-->
    <!--<li><a href="index.ftl">Home</a>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a href="index.ftl">Home Version 1</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-2.html">Home Version 2</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-3.html">Home Version 3</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-4.html">Home 4 Animated Text</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-5.html">Home 5 Animated Text Ovlerlay</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-6.html">Home 6 Background Video</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-7.html">Home 7 BG-Video Ovlerlay</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-8.html">Home 8 Boxed-1</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-9.html">Home 9 Gradient</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="index-10.html">Home 10 Boxed-2</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="lamp.html">Products</a>-->
    <!--</li>-->
    <!--<li><a href="#">Pages</a>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a href="lamp.html">Shop</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="shop-left-sidebar.html">Shop Left Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="shop-right-sidebar.html">Shop Right Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="shop-list.html">Shop List</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="single-lamp.html">Single Product</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="lamp-detail.html">Single Product Left Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="single-lamp-no-sidebar.html">Single Product No Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="cart.html">Shopping Cart</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="wishlist.html">Wishlist</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="checkout.html">Checkout</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="order.html">Order</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="login.html">Login</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="My-account.html">My Account</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="about.html">About us</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="404.html">404</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li><a href="knowledge-list.html">Blog</a>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a href="knowledge-list.html">Blog</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="blog-left-sidebar.html">Blog Left Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="blog-right-sidebar.html">Blog Right Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="news-list.html">Blog style 2</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="blog-2-left-sidebar.html">Blog 2 Left Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="blog-2-right-sidebar.html">Blog 2 Right Sidebar</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="single-knowledge-list.html">Blog Details</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="about.html">About Us</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="contact.html">Contact</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!-- END MOBILE MENU AREA -->