<#include "./home/public/header.html"/>

<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">Single Product Left Sidebar</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="index.html">Home</a></li>
                            <li>Single Product Left Sidebar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->

<!-- Start page content -->
<section id="page-content" class="page-wrapper">

    <!-- SHOP SECTION START -->
    <div class="shop-section">
        <div class="breadcrumbs-section plr-200">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <!-- single-lamp-area start -->
                    <div class="single-product-area mb-80">
                        <div class="row">
                            <!-- imgs-zoom-area start -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="imgs-zoom-area pr-40">
                                    <img id="zoom_03" src="${lampWithBLOBs.productTitleImage}"
                                         data-zoom-image="img/product-2/2.jpg" alt="">
                                </div>
                            </div>
                            <!-- imgs-zoom-area end -->
                            <!-- single-lamp-info start -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="single-product-info">
                                    <h3 class="text-black-1">${lampWithBLOBs.model}</h3>
                                    <h6 class="brand-name-2">
                                        <#if (lampWithBLOBs.productType = 1)>
                                            G4/G9
                                        </#if>

                                        <#if (lampWithBLOBs.productType = 2)>
                                            球泡灯
                                        </#if>

                                        <#if (lampWithBLOBs.productType = 3)>
                                            灯丝灯
                                        </#if>

                                        <#if (lampWithBLOBs.productType = 4 )>
                                            面板灯
                                        </#if>
                                    </h6>
                                    <!-- hr -->
                                    <hr>
                                    <!-- single-lamp-tab -->
                                    <div class="single-product-tab">
                                        <ul class="reviews-tab mb-20">
                                            <li class="active"><a href="#descriaption" data-toggle="tab">description</a>
                                            </li>
                                            <!-- <li ><a href="#information" data-toggle="tab">information</a></li>
                                             <li ><a href="#reviews" data-toggle="tab">reviews</a></li>-->
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="description">
                                                <p> ${lampWithBLOBs.description}</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="information">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem,
                                                    neque fugit inventore quo dignissimos est iure natus quis nam illo
                                                    officiis, deleniti consectetur non ,aspernatur.</p>
                                                <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti
                                                    consectetur non exercitationem.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="reviews">
                                                <!-- reviews-tab-desc -->
                                                <div class="reviews-tab-desc">
                                                    <!-- single comments -->
                                                    <div class="media mt-30">
                                                        <div class="media-left">
                                                            <a href="#"><img class="media-object"
                                                                             src="home/img/author/1.jpg" alt="#"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="clearfix">
                                                                <div class="name-commenter pull-left">
                                                                    <h6 class="media-heading"><a href="#">Gerald
                                                                        Barnes</a></h6>
                                                                    <p class="mb-10">27 Jun, 2016 at 2:30pm</p>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <ul class="reply-delate">
                                                                        <li><a href="#">Reply</a></li>
                                                                        <li>/</li>
                                                                        <li><a href="#">Delate</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Integer accumsan egestas .</p>
                                                        </div>
                                                    </div>
                                                    <!-- single comments -->
                                                    <div class="media mt-30">
                                                        <div class="media-left">
                                                            <a href="#"><img class="media-object"
                                                                             src="home/img/author/2.jpg" alt="#"></a>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="clearfix">
                                                                <div class="name-commenter pull-left">
                                                                    <h6 class="media-heading"><a href="#">Gerald
                                                                        Barnes</a></h6>
                                                                    <p class="mb-10">27 Jun, 2016 at 2:30pm</p>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <ul class="reply-delate">
                                                                        <li><a href="#">Reply</a></li>
                                                                        <li>/</li>
                                                                        <li><a href="#">Delate</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur
                                                                adipiscing elit. Integer accumsan egestas .</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  hr -->
                                </div>
                            </div>
                            <!-- single-lamp-info end -->
                        </div>
                        <hr>
                        <h6>parameter</h6>
                        <table class="table param m-0">
                            <thead>
                            <tr>
                                <th>产品名称</th>
                                <th>功率/w</th>
                                <th>功率因数</th>
                                <th>电压/v</th>
                                <th>光通量/lm</th>
                                <th>尺寸/mm</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>${lampWithBLOBs.model}</td>
                                <td>${lampWithBLOBs.power}</td>
                                <td>${lampWithBLOBs.powerFactor}</td>
                                <td>${lampWithBLOBs.voltage}</td>
                                <td>${lampWithBLOBs.lumen}</td>
                                <td>${lampWithBLOBs.size}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- single-lamp-area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</section>
<!-- End page content -->

<#include "./home/public/footer.html"/>
