<#include "./home/public/header.html"/>

<!-- BREADCRUMBS SETCTION START -->
<div class="breadcrumbs-section mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">product view</h1>
                        <ul class="breadcrumb-list">
                            <li><a href="">Home</a></li>
                            <li>product view</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMBS SETCTION END -->

<!-- Start page content -->
<div id="page-content" class="page-wrapper">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div id="lamp-list-content">
                <#if lampListPageModel ??>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="shop-content">
                            <!-- shop-option start -->
                            <div class="shop-option box-shadow mb-30 clearfix">
                                <!-- Nav tabs -->
                                <ul class="shop-tab f-left" role="tablist">
                                    <li class="active">
                                        <a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
                                    </li>
                                    <li>
                                        <a href="#list-view" data-toggle="tab"><i
                                                class="zmdi zmdi-view-list-alt"></i></a>
                                    </li>
                                </ul>
                                <!-- short-by -->
                                <div class="short-by f-left text-center">
                                    <span>Sort by :</span>
                                    <!-- 勿删，用于处理灯饰分类 -->
                                    <input type="hidden" id="retrunProType" value="${productType}">
                                    <select id="productType" onchange="queryByType()">
                                        <option value="0">全部</option>
                                        <option value="1">G4/G9</option>
                                        <option value="2">球泡灯</option>
                                        <option value="3">灯丝灯</option>
                                        <option value="4">面板灯</option>
                                    </select>
                                </div>
                                <!-- showing -->
                                <div class="showing f-right text-right">
                                    <span>total : ${lampListPageModel.total}&nbsp;&nbsp;&nbsp; </span>
                                </div>
                            </div>
                            <!-- shop-option end -->
                            <!-- Tab Content start -->

                            <div class="tab-content">
                                <!-- grid-view -->
                                <div role="tabpanel" class="tab-pane active" id="grid-view">
                                    <div class="row">
                                        <#list lampListPageModel.lampList as lampList>
                                        <!-- lamp-item start -->
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="javascript:detail(${lampList.id})">
                                                        <img src="${lampList.productTitleImage}" alt=""/>
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-title">
                                                        <a href="/lampDetail"+${lampList.id}>${lampList.model}</a>
                                                    </h6>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                    </div>
                                                    <h3 class="pro-price">
                                                        <#if (lampList.productType = 1)>
                                                        G4/G9
                                                    </#if>

                                                    <#if (lampList.productType = 2)>
                                                    球泡灯
                                                </#if>

                                                <#if (lampList.productType = 3)>
                                                灯丝灯
                                            </#if>

                                            <#if (lampList.productType = 4 )>
                                            面板灯
                                        </#if>
                                        </h3>
                                        <ul class="action-button">
                                            <li>
                                                <a href="#" title="Wishlist"><i
                                                        class="zmdi zmdi-favorite"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal"
                                                   data-target="#productModal"
                                                   title="Quickview"><i
                                                        class="zmdi zmdi-zoom-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- lamp-item end -->
                        </#list>
                    </div>
                </div>

            </div>
            <#if lampListPageModel.nextPage ??>
            <ul class="shop-pagination box-shadow text-center ptblr-10-30">
                <#if (lampListPageModel.currentPage = 1)>
                <#else>
                <li><a href="javascript:queryByPage(${lampListPageModel.prevPage});"><i
                        class="zmdi zmdi-chevron-left"></i></a></li>
            </#if>
            <#list 1..lampListPageModel.count as i>
            <li <#if (lampListPageModel.currentPage = i)> class="active"</#if>>
        <a href="javascript:queryByPage(${i});">${i_index+1}</a>
        </li>
    </#list>
    <#if (lampListPageModel.currentPage = lampListPageModel.count)>
    <#else>
    <li class="next">
        <a href="javascript:queryByPage(${lampListPageModel.nextPage})"><i
                class="zmdi zmdi-chevron-right"></i></a>
    </li>
</#if>
</ul>
</#if>
</#if>
<!-- shop-pagination end -->
</div>
</div>
</div>

</div>
</div>
</div>
<!-- SHOP SECTION END -->

</div>
<!-- End page content -->

<#include "./home/public/footer.html"/>

<script>
    //ajax 访问后台提取数据
    function queryByPage(pageNum) {

        var options=$("#productType option:selected");
        var productType = options.val();

        $.ajax({
            type: 'GET',
            url:'/lampListByPage?pageNum='+ pageNum + '&productType=' + productType,
            success: function(data) {
                $('#lamp-list-content').html();
                $('#lamp-list-content').html(data);
                $("#retrunProType").val(productType)

                $("#productType option[value='"+productType+"']").attr("selected", "selected");
            },
            error: function(){
                alert('请求失败！');
            }
        })

    }

    function detail(id) {
        $.ajax({
            type: 'GET',
            url:'/lampDetail?id='+ id,
            success: function(data) {
                window.location.href='/lampDetail?id='+id;

            },
            error: function(){
                alert('请求出错!');
            }
        })
    }


    function queryByType() {
        var options=$("#productType option:selected");
        var productType = options.val();

        $.ajax({
            type: 'GET',
            url:'/lampListByPage?productType='+ productType,
            success: function(data) {

                $('#lamp-list-content').html();
                $('#lamp-list-content').html(data);
                $("#productType option[value='"+productType+"']").attr("selected", "selected");

            },
            error: function(){
                alert('请求出错，请重试！');
            }
        })

    }
</script>