<#include 'admin/common/header.html'/>



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
							<div class="col-xs-12">
								<div class="page-title-box">
                                    <h4 class="page-title">新闻管理 </h4>
                                    <ol class="breadcrumb p-0 m-0">
                                        <li>
                                            <a href="#">返回用户中心</a>
                                        </li>
                                    </ol>
                                    <div class="clearfix"></div>
                                </div>
							</div>
						</div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <form id="newsForm">
                                        <div class="input-group" style="margin-bottom: 10px;">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn waves-effect waves-light btn-primary" onclick="queryByTitle()"><i class="fa fa-search"></i></button>
                                            </span>
                                            <input type="text" id="newsTitle"  name="example-input1-group2" class="form-control" onkeypress="javascript: if (event.keyCode == '13') { queryByTitle(); return false;}" placeholder="请入新闻标题查询">
                                        </div>
                                    </form>
                                    <table id="datatable" class="dataTable table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th>新闻标题</th>
                                            <th>新闻关键字</th>
                                            <th>新闻来源</th>
                                            <th>新闻类型</th>
                                            <th>发布时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2018 ©  by Catik.
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="mdi mdi-close-circle-outline"></i>
                </a>
                <h4 class="">Settings</h4>
                <div class="setting-list nicescroll">
                    <div class="row m-t-20">
                        <div class="col-xs-8">
                            <h5 class="m-0">Notifications</h5>
                            <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                        </div>
                        <div class="col-xs-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-8">
                            <h5 class="m-0">API Access</h5>
                            <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                        </div>
                        <div class="col-xs-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-8">
                            <h5 class="m-0">Auto Updates</h5>
                            <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                        </div>
                        <div class="col-xs-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-xs-8">
                            <h5 class="m-0">Online Status</h5>
                            <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                        </div>
                        <div class="col-xs-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#7fc1fc" data-size="small"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="admin/assets/js/jquery.min.js"></script>
        <script src="admin/assets/js/bootstrap.min.js"></script>
        <script src="admin/assets/js/detect.js"></script>
        <script src="admin/assets/js/fastclick.js"></script>
        <script src="admin/assets/js/jquery.blockUI.js"></script>
        <script src="admin/assets/js/waves.js"></script>
        <script src="admin/assets/js/jquery.slimscroll.js"></script>
        <script src="admin/assets/js/jquery.scrollTo.min.js"></script>
        <script src="admin/plugins/switchery/switchery.min.js"></script>

        <script src="admin/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="admin/plugins/datatables/dataTables.bootstrap.js"></script>

        <script src="admin/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="admin/plugins/datatables/buttons.bootstrap.min.js"></script>
        <script src="admin/plugins/datatables/jszip.min.js"></script>
        <script src="admin/plugins/datatables/pdfmake.min.js"></script>
        <script src="admin/plugins/datatables/vfs_fonts.js"></script>
        <script src="admin/plugins/datatables/buttons.html5.min.js"></script>
        <script src="admin/plugins/datatables/buttons.print.min.js"></script>
        <script src="admin/plugins/datatables/dataTables.fixedHeader.min.js"></script>
        <script src="admin/plugins/datatables/dataTables.keyTable.min.js"></script>
        <script src="admin/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="admin/plugins/datatables/responsive.bootstrap.min.js"></script>
        <script src="admin/plugins/datatables/dataTables.scroller.min.js"></script>
        <script src="admin/plugins/datatables/dataTables.colVis.js"></script>
        <script src="admin/plugins/datatables/dataTables.fixedColumns.min.js"></script>

        <!-- init -->
        <script src="admin/assets/pages/jquery.datatables.init.js"></script>

        <!-- App js -->
        <script src="admin/assets/js/jquery.core.js"></script>
        <script src="admin/assets/js/jquery.app.js"></script>
        <!-- 引入pnotify -->
        <#include "./common/js/nitify_js.html">

        <!--引入lay弹层js-->
        <script src="common/layer/layer.js"></script>
        <script>
            /******************************************** 新闻列表的初始化 *******************************************************/
            var table=null;
            $(document).ready(function () {
                initDatatables();
                initComplete();
            });
            function initDatatables(){
                table=$('#datatable').DataTable( {
                    //开启服务器模式
                    serverSide: true,
                    "info" : true,
                    "paging": true,
                    "processing":false,
                    "searching": false,
                    //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
                    ajax: {
                        url: '/load-news-list',
                        type: 'POST',
                        "data":function(d){
                            getQueryCondition(d);
                        }
                    },

                    "aoColumns" : [{
                        "mData" : "title",
                        "orderable" : true, // 禁用排序
                        "sDefaultContent" : "",
                        "sWidth" : "15%",

                    },

                        {
                        "mData" : "keywords",
                        "orderable" : true, // 禁用排序
                        "sDefaultContent" : "",
                        "sWidth" : "15%"
                    },
                        {
                            "mData" : "newsResources",
                            "orderable" : true, // 禁用排序
                            "sDefaultContent" : "",
                            "sWidth" : "10%",

                        },
                        {
                            "mData" : "newsType",
                            "orderable" : true, // 禁用排序
                            "sDefaultContent" : "",
                            "sWidth" : "6%",
                            "render": function (data, type,row) {
                                if(row.newsType == '1')
                                    data = "行业新闻";
                                 if(row.newsType == '2')
                                     data = "媒体报道";
                                return data;
                            }
                        },

                        {
                            "mData" : "newsCreateTime",
                            "orderable" : true, // 禁用排序
                            "sDefaultContent" : "",
                            "sWidth" : "5%",
                        },
                        {
                            "mData": "id",
                            "orderable": false, // 禁用排序
                            "sDefaultContent": '',
                            "sWidth": "10%",
                            "render": function (data, type,row) {
                                var id = row.id;
                                return data = '<button id="edit-news" onclick="editNews('+id+')" class="btn btn-success  btn-sm" data-id=' + data + '>编辑</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="delete-news" onclick="deleteNews('+id+')" class="btn btn-danger btn-sm" data-id=' + data + '>删 除</button>';
                            }
                        }
                    ],
                    "oLanguage" : { // 国际化配置
                        "sProcessing" : "正在获取数据，请稍后...",
                        "sLengthMenu" : "显示 _MENU_ 条",
                        "sZeroRecords" : "没有找到数据",
                        "sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
                        "sInfoEmpty" : "记录数为0",
                        "sInfoFiltered" : "(全部记录数 _MAX_ 条)",
                        "sInfoPostFix" : "",
                        "sSearch" : "搜索",
                        "sUrl" : "",
                        "oPaginate" : {
                            "sFirst" : "第一页",
                            "sPrevious" : "上一页",
                            "sNext" : "下一页",
                            "sLast" : "最后一页"
                        }
                    },

                } );
            }
            function getQueryCondition(data) {
                //组装排序参数
                if (data.order&&data.order.length&&data.order[0]) {
                    switch (data.order[0].column) {
                        case 0:
                            data.orderColumn = "title";//数据库列名称
                            break;
                        case 1:
                            data.orderColumn = "keywords";//数据库列名称
                            break;
                        case 2:
                            data.orderColumn = "newsResources";
                        case 3:
                            data.orderColumn = "newsType";
                        case 4:
                            data.orderColumn = "newsCreateTime";
                    }
                    //排序方式asc或者desc
                    data.orderDir = data.order[0].dir;
                    data.title=$("#newsTitle").val(); //条件查询
                }
                return data;
            }

            function initComplete(){

                //删除用户按钮的HTMLDOM
                var topPlugin=' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  onclick="addNews()" class="btn btn-success waves-effect w-md waves-light btn-sm addBtn" >新 增</button>    <button onclick="clearQuery()" class="btn btn-warning btn-sm" >重置查询条件</button>' ;

                $("#datatable_length").append(topPlugin);//在表格上方topPlugin DIV中追加HTML

            }

        /******************************************** 新闻增，删，改，查 *******************************************************/
            //清空查询条件
            function clearQuery() {
                $('#newsForm')[0].reset();
                table.ajax.reload();
            }

            //按标题查询
            function queryByTitle() {
                table.ajax.reload();
            }

            //要据id删除新闻
            function deleteNews(id){
                layer.confirm('确认要删除吗？', {
                    btn : [ '确定', '取消' ]//按钮
                } ,function (index) {
                    layer.close(index);
                    $.ajax({
                        type:'POST',
                        url: '/delete-news',
                        dataType:'json',
                        data: {"id":id},
                        async:false,
                        cache:false,
                        success: function (data) {
                            if(data.code == "succeed"){
                                notify_sucess(data.data);
                            }
                            if(data.code == "error"){
                                notify_error(data.data)
                                return;
                            }
                            //返回新闻列表页(返回时延时1秒，让用户看到提示信息)
                            setTimeout(function () {
                                backList();
                            },100);
                        },
                    })
                },function(index) {
                    layer.close(index);
                });
            }

            //返回列表
            function backList() {
                location.href="/news-list";
            }

            //新增新闻
            function addNews() {
               location.href="/edit-news";
            }

            //编辑新闻
           function editNews(id) {
                location.href="/edit-news?id="+id;
            }


        </script>


    </body>
</html>