<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catikco.makepo.mapper.FileStorageMapper" >
  <resultMap id="BaseResultMap" type="com.catikco.makepo.entity.FileStorage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fileSize" property="fileSize" jdbcType="BIGINT" />
    <result column="filePrefix" property="filePrefix" jdbcType="VARCHAR" />
    <result column="fileSuffix" property="fileSuffix" jdbcType="VARCHAR" />
    <result column="fileDesc" property="fileDesc" jdbcType="VARCHAR" />
    <result column="fileStatus" property="fileStatus" jdbcType="TINYINT" />
    <result column="filePath" property="filePath" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
    <result column="updateTime" property="updateTime" jdbcType="DATE" />
    <result column="createBy" property="createBy" jdbcType="INTEGER" />
    <result column="updateBy" property="updateBy" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="fileType" property="fileType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fileSize, filePrefix, fileSuffix, fileDesc, fileStatus, filePath, createTime, 
    updateTime, createBy, updateBy, remark, deleted, fileType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.catikco.makepo.entity.FileStorageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from filestorage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from filestorage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from filestorage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.catikco.makepo.entity.FileStorageExample" >
    delete from filestorage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.catikco.makepo.entity.FileStorage" useGeneratedKeys="true" keyProperty="id">
    insert into filestorage (id, fileSize, filePrefix, 
      fileSuffix, fileDesc, fileStatus, 
      filePath, createTime, updateTime, 
      createBy, updateBy, remark, 
      deleted, fileType)
    values (#{id,jdbcType=INTEGER}, #{fileSize,jdbcType=BIGINT}, #{filePrefix,jdbcType=VARCHAR}, 
      #{fileSuffix,jdbcType=VARCHAR}, #{fileDesc,jdbcType=VARCHAR}, #{fileStatus,jdbcType=TINYINT}, 
      #{filePath,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, 
      #{createBy,jdbcType=INTEGER}, #{updateBy,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{fileType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.catikco.makepo.entity.FileStorage" useGeneratedKeys="true" keyProperty="id">
    insert into filestorage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileSize != null" >
        fileSize,
      </if>
      <if test="filePrefix != null" >
        filePrefix,
      </if>
      <if test="fileSuffix != null" >
        fileSuffix,
      </if>
      <if test="fileDesc != null" >
        fileDesc,
      </if>
      <if test="fileStatus != null" >
        fileStatus,
      </if>
      <if test="filePath != null" >
        filePath,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="updateBy != null" >
        updateBy,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="fileType != null" >
        fileType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="filePrefix != null" >
        #{filePrefix,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null" >
        #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileDesc != null" >
        #{fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="fileStatus != null" >
        #{fileStatus,jdbcType=TINYINT},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.catikco.makepo.entity.FileStorageExample" resultType="java.lang.Integer" >
    select count(*) from filestorage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update filestorage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fileSize != null" >
        fileSize = #{record.fileSize,jdbcType=BIGINT},
      </if>
      <if test="record.filePrefix != null" >
        filePrefix = #{record.filePrefix,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSuffix != null" >
        fileSuffix = #{record.fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="record.fileDesc != null" >
        fileDesc = #{record.fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.fileStatus != null" >
        fileStatus = #{record.fileStatus,jdbcType=TINYINT},
      </if>
      <if test="record.filePath != null" >
        filePath = #{record.filePath,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.createBy != null" >
        createBy = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateBy != null" >
        updateBy = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.fileType != null" >
        fileType = #{record.fileType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update filestorage
    set id = #{record.id,jdbcType=INTEGER},
      fileSize = #{record.fileSize,jdbcType=BIGINT},
      filePrefix = #{record.filePrefix,jdbcType=VARCHAR},
      fileSuffix = #{record.fileSuffix,jdbcType=VARCHAR},
      fileDesc = #{record.fileDesc,jdbcType=VARCHAR},
      fileStatus = #{record.fileStatus,jdbcType=TINYINT},
      filePath = #{record.filePath,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=DATE},
      updateTime = #{record.updateTime,jdbcType=DATE},
      createBy = #{record.createBy,jdbcType=INTEGER},
      updateBy = #{record.updateBy,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      fileType = #{record.fileType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.catikco.makepo.entity.FileStorage" >
    update filestorage
    <set >
      <if test="fileSize != null" >
        fileSize = #{fileSize,jdbcType=BIGINT},
      </if>
      <if test="filePrefix != null" >
        filePrefix = #{filePrefix,jdbcType=VARCHAR},
      </if>
      <if test="fileSuffix != null" >
        fileSuffix = #{fileSuffix,jdbcType=VARCHAR},
      </if>
      <if test="fileDesc != null" >
        fileDesc = #{fileDesc,jdbcType=VARCHAR},
      </if>
      <if test="fileStatus != null" >
        fileStatus = #{fileStatus,jdbcType=TINYINT},
      </if>
      <if test="filePath != null" >
        filePath = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        updateBy = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="fileType != null" >
        fileType = #{fileType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.catikco.makepo.entity.FileStorage" >
    update filestorage
    set fileSize = #{fileSize,jdbcType=BIGINT},
      filePrefix = #{filePrefix,jdbcType=VARCHAR},
      fileSuffix = #{fileSuffix,jdbcType=VARCHAR},
      fileDesc = #{fileDesc,jdbcType=VARCHAR},
      fileStatus = #{fileStatus,jdbcType=TINYINT},
      filePath = #{filePath,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=DATE},
      updateTime = #{updateTime,jdbcType=DATE},
      createBy = #{createBy,jdbcType=INTEGER},
      updateBy = #{updateBy,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      fileType = #{fileType,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>