<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catikco.makepo.mapper.PowerMapper" >
  <resultMap id="BaseResultMap" type="com.catikco.makepo.entity.Power" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productTitleImageFileid" property="productTitleImageFileid" jdbcType="INTEGER" />
    <result column="productContentImagesFileid" property="productContentImagesFileid" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="DOUBLE" />
    <result column="input" property="input" jdbcType="DOUBLE" />
    <result column="output" property="output" jdbcType="DOUBLE" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="productUrl" property="productUrl" jdbcType="VARCHAR" />
    <result column="views" property="views" jdbcType="INTEGER" />
    <result column="productCreateTime" property="productCreateTime" jdbcType="DATE" />
    <result column="productType" property="productType" jdbcType="TINYINT" />
    <result column="creteTime" property="creteTime" jdbcType="DATE" />
    <result column="upDataTime" property="upDataTime" jdbcType="DATE" />
    <result column="createBy" property="createBy" jdbcType="INTEGER" />
    <result column="upDataBy" property="upDataBy" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="model" property="model" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.catikco.makepo.entity.PowerWithBLOBs" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, productTitleImageFileid, productContentImagesFileid, power, input, output, size, 
    title, keywords, productUrl, views, productCreateTime, productType, creteTime, upDataTime, 
    createBy, upDataBy, remark, deleted, model
  </sql>
  <sql id="Blob_Column_List" >
    description, content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.catikco.makepo.entity.PowerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.catikco.makepo.entity.PowerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Power
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.catikco.makepo.entity.PowerExample" >
    delete from Power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.catikco.makepo.entity.PowerWithBLOBs" useGeneratedKeys="true" keyProperty="id">
    insert into Power (id, productTitleImageFileid, productContentImagesFileid, 
      power, input, output, 
      size, title, keywords, 
      productUrl, views, productCreateTime, 
      productType, creteTime, upDataTime, 
      createBy, upDataBy, remark, 
      deleted, model, description, 
      content)
    values (#{id,jdbcType=INTEGER}, #{productTitleImageFileid,jdbcType=INTEGER}, #{productContentImagesFileid,jdbcType=VARCHAR}, 
      #{power,jdbcType=DOUBLE}, #{input,jdbcType=DOUBLE}, #{output,jdbcType=DOUBLE}, 
      #{size,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{productUrl,jdbcType=VARCHAR}, #{views,jdbcType=INTEGER}, #{productCreateTime,jdbcType=DATE}, 
      #{productType,jdbcType=TINYINT}, #{creteTime,jdbcType=DATE}, #{upDataTime,jdbcType=DATE}, 
      #{createBy,jdbcType=INTEGER}, #{upDataBy,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{deleted,jdbcType=BIT}, #{model,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.catikco.makepo.entity.PowerWithBLOBs" useGeneratedKeys="true" keyProperty="id">
    insert into Power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productTitleImageFileid != null" >
        productTitleImageFileid,
      </if>
      <if test="productContentImagesFileid != null" >
        productContentImagesFileid,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="input != null" >
        input,
      </if>
      <if test="output != null" >
        output,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="productUrl != null" >
        productUrl,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="productCreateTime != null" >
        productCreateTime,
      </if>
      <if test="productType != null" >
        productType,
      </if>
      <if test="creteTime != null" >
        creteTime,
      </if>
      <if test="upDataTime != null" >
        upDataTime,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="upDataBy != null" >
        upDataBy,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productTitleImageFileid != null" >
        #{productTitleImageFileid,jdbcType=INTEGER},
      </if>
      <if test="productContentImagesFileid != null" >
        #{productContentImagesFileid,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=DOUBLE},
      </if>
      <if test="input != null" >
        #{input,jdbcType=DOUBLE},
      </if>
      <if test="output != null" >
        #{output,jdbcType=DOUBLE},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null" >
        #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        #{views,jdbcType=INTEGER},
      </if>
      <if test="productCreateTime != null" >
        #{productCreateTime,jdbcType=DATE},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=TINYINT},
      </if>
      <if test="creteTime != null" >
        #{creteTime,jdbcType=DATE},
      </if>
      <if test="upDataTime != null" >
        #{upDataTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="upDataBy != null" >
        #{upDataBy,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.catikco.makepo.entity.PowerExample" resultType="java.lang.Integer" >
    select count(*) from Power
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update Power
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productTitleImageFileid != null" >
        productTitleImageFileid = #{record.productTitleImageFileid,jdbcType=INTEGER},
      </if>
      <if test="record.productContentImagesFileid != null" >
        productContentImagesFileid = #{record.productContentImagesFileid,jdbcType=VARCHAR},
      </if>
      <if test="record.power != null" >
        power = #{record.power,jdbcType=DOUBLE},
      </if>
      <if test="record.input != null" >
        input = #{record.input,jdbcType=DOUBLE},
      </if>
      <if test="record.output != null" >
        output = #{record.output,jdbcType=DOUBLE},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.productUrl != null" >
        productUrl = #{record.productUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.views != null" >
        views = #{record.views,jdbcType=INTEGER},
      </if>
      <if test="record.productCreateTime != null" >
        productCreateTime = #{record.productCreateTime,jdbcType=DATE},
      </if>
      <if test="record.productType != null" >
        productType = #{record.productType,jdbcType=TINYINT},
      </if>
      <if test="record.creteTime != null" >
        creteTime = #{record.creteTime,jdbcType=DATE},
      </if>
      <if test="record.upDataTime != null" >
        upDataTime = #{record.upDataTime,jdbcType=DATE},
      </if>
      <if test="record.createBy != null" >
        createBy = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.upDataBy != null" >
        upDataBy = #{record.upDataBy,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.model != null" >
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update Power
    set id = #{record.id,jdbcType=INTEGER},
      productTitleImageFileid = #{record.productTitleImageFileid,jdbcType=INTEGER},
      productContentImagesFileid = #{record.productContentImagesFileid,jdbcType=VARCHAR},
      power = #{record.power,jdbcType=DOUBLE},
      input = #{record.input,jdbcType=DOUBLE},
      output = #{record.output,jdbcType=DOUBLE},
      size = #{record.size,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      productUrl = #{record.productUrl,jdbcType=VARCHAR},
      views = #{record.views,jdbcType=INTEGER},
      productCreateTime = #{record.productCreateTime,jdbcType=DATE},
      productType = #{record.productType,jdbcType=TINYINT},
      creteTime = #{record.creteTime,jdbcType=DATE},
      upDataTime = #{record.upDataTime,jdbcType=DATE},
      createBy = #{record.createBy,jdbcType=INTEGER},
      upDataBy = #{record.upDataBy,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      model = #{record.model,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update Power
    set id = #{record.id,jdbcType=INTEGER},
      productTitleImageFileid = #{record.productTitleImageFileid,jdbcType=INTEGER},
      productContentImagesFileid = #{record.productContentImagesFileid,jdbcType=VARCHAR},
      power = #{record.power,jdbcType=DOUBLE},
      input = #{record.input,jdbcType=DOUBLE},
      output = #{record.output,jdbcType=DOUBLE},
      size = #{record.size,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      productUrl = #{record.productUrl,jdbcType=VARCHAR},
      views = #{record.views,jdbcType=INTEGER},
      productCreateTime = #{record.productCreateTime,jdbcType=DATE},
      productType = #{record.productType,jdbcType=TINYINT},
      creteTime = #{record.creteTime,jdbcType=DATE},
      upDataTime = #{record.upDataTime,jdbcType=DATE},
      createBy = #{record.createBy,jdbcType=INTEGER},
      upDataBy = #{record.upDataBy,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      model = #{record.model,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.catikco.makepo.entity.PowerWithBLOBs" >
    update Power
    <set >
      <if test="productTitleImageFileid != null" >
        productTitleImageFileid = #{productTitleImageFileid,jdbcType=INTEGER},
      </if>
      <if test="productContentImagesFileid != null" >
        productContentImagesFileid = #{productContentImagesFileid,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=DOUBLE},
      </if>
      <if test="input != null" >
        input = #{input,jdbcType=DOUBLE},
      </if>
      <if test="output != null" >
        output = #{output,jdbcType=DOUBLE},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null" >
        productUrl = #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="productCreateTime != null" >
        productCreateTime = #{productCreateTime,jdbcType=DATE},
      </if>
      <if test="productType != null" >
        productType = #{productType,jdbcType=TINYINT},
      </if>
      <if test="creteTime != null" >
        creteTime = #{creteTime,jdbcType=DATE},
      </if>
      <if test="upDataTime != null" >
        upDataTime = #{upDataTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        createBy = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="upDataBy != null" >
        upDataBy = #{upDataBy,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.catikco.makepo.entity.PowerWithBLOBs" >
    update Power
    set productTitleImageFileid = #{productTitleImageFileid,jdbcType=INTEGER},
      productContentImagesFileid = #{productContentImagesFileid,jdbcType=VARCHAR},
      power = #{power,jdbcType=DOUBLE},
      input = #{input,jdbcType=DOUBLE},
      output = #{output,jdbcType=DOUBLE},
      size = #{size,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      productUrl = #{productUrl,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      productCreateTime = #{productCreateTime,jdbcType=DATE},
      productType = #{productType,jdbcType=TINYINT},
      creteTime = #{creteTime,jdbcType=DATE},
      upDataTime = #{upDataTime,jdbcType=DATE},
      createBy = #{createBy,jdbcType=INTEGER},
      upDataBy = #{upDataBy,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      model = #{model,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.catikco.makepo.entity.Power" >
    update Power
    set productTitleImageFileid = #{productTitleImageFileid,jdbcType=INTEGER},
      productContentImagesFileid = #{productContentImagesFileid,jdbcType=VARCHAR},
      power = #{power,jdbcType=DOUBLE},
      input = #{input,jdbcType=DOUBLE},
      output = #{output,jdbcType=DOUBLE},
      size = #{size,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      productUrl = #{productUrl,jdbcType=VARCHAR},
      views = #{views,jdbcType=INTEGER},
      productCreateTime = #{productCreateTime,jdbcType=DATE},
      productType = #{productType,jdbcType=TINYINT},
      creteTime = #{creteTime,jdbcType=DATE},
      upDataTime = #{upDataTime,jdbcType=DATE},
      createBy = #{createBy,jdbcType=INTEGER},
      upDataBy = #{upDataBy,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      model = #{model,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>