<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catikco.makepo.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.catikco.makepo.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_img_file_id" property="user_img_file_id" jdbcType="INTEGER" />
    <result column="last_login" property="last_login" jdbcType="DATE" />
    <result column="create_time" property="create_time" jdbcType="DATE" />
    <result column="update_time" property="update_time" jdbcType="DATE" />
    <result column="create_by" property="create_by" jdbcType="INTEGER" />
    <result column="update_by" property="update_by" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, username, password, user_img_file_id, last_login, create_time, update_time, 
    create_by, update_by, status, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.catikco.makepo.entity.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.catikco.makepo.entity.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.catikco.makepo.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into user (id, account, username, 
      password, user_img_file_id, last_login, 
      create_time, update_time, create_by, 
      update_by, status, remark
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{user_img_file_id,jdbcType=INTEGER}, #{last_login,jdbcType=DATE}, 
      #{create_time,jdbcType=DATE}, #{update_time,jdbcType=DATE}, #{create_by,jdbcType=INTEGER}, 
      #{update_by,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.catikco.makepo.entity.User" useGeneratedKeys="true" keyProperty="id">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="user_img_file_id != null" >
        user_img_file_id,
      </if>
      <if test="last_login != null" >
        last_login,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="create_by != null" >
        create_by,
      </if>
      <if test="update_by != null" >
        update_by,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="user_img_file_id != null" >
        #{user_img_file_id,jdbcType=INTEGER},
      </if>
      <if test="last_login != null" >
        #{last_login,jdbcType=DATE},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=DATE},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=DATE},
      </if>
      <if test="create_by != null" >
        #{create_by,jdbcType=INTEGER},
      </if>
      <if test="update_by != null" >
        #{update_by,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.catikco.makepo.entity.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.user_img_file_id != null" >
        user_img_file_id = #{record.user_img_file_id,jdbcType=INTEGER},
      </if>
      <if test="record.last_login != null" >
        last_login = #{record.last_login,jdbcType=DATE},
      </if>
      <if test="record.create_time != null" >
        create_time = #{record.create_time,jdbcType=DATE},
      </if>
      <if test="record.update_time != null" >
        update_time = #{record.update_time,jdbcType=DATE},
      </if>
      <if test="record.create_by != null" >
        create_by = #{record.create_by,jdbcType=INTEGER},
      </if>
      <if test="record.update_by != null" >
        update_by = #{record.update_by,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      user_img_file_id = #{record.user_img_file_id,jdbcType=INTEGER},
      last_login = #{record.last_login,jdbcType=DATE},
      create_time = #{record.create_time,jdbcType=DATE},
      update_time = #{record.update_time,jdbcType=DATE},
      create_by = #{record.create_by,jdbcType=INTEGER},
      update_by = #{record.update_by,jdbcType=INTEGER},
      status = #{record.status,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.catikco.makepo.entity.User" >
    update user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="user_img_file_id != null" >
        user_img_file_id = #{user_img_file_id,jdbcType=INTEGER},
      </if>
      <if test="last_login != null" >
        last_login = #{last_login,jdbcType=DATE},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=DATE},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=DATE},
      </if>
      <if test="create_by != null" >
        create_by = #{create_by,jdbcType=INTEGER},
      </if>
      <if test="update_by != null" >
        update_by = #{update_by,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.catikco.makepo.entity.User" >
    update user
    set account = #{account,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_img_file_id = #{user_img_file_id,jdbcType=INTEGER},
      last_login = #{last_login,jdbcType=DATE},
      create_time = #{create_time,jdbcType=DATE},
      update_time = #{update_time,jdbcType=DATE},
      create_by = #{create_by,jdbcType=INTEGER},
      update_by = #{update_by,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>