<#include "./home/public/header.html"/>

<!-- BREADCRUMBS SETCTION START -->
        <div class="breadcrumbs-section mb-80">
            <div class="breadcrumbs overlay-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="breadcrumbs-inner">
                                <h1 class="breadcrumbs-title">About</h1>
                                <ul class="breadcrumb-list">
                                    <li><a href="index.html">Home</a></li>
                                    <li>About</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BREADCRUMBS SETCTION END -->

        <!-- Start page content -->
        <section id="page-content" class="page-wrapper">

            <!-- ABOUT SECTION START -->
            <div class="about-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-left ">
                                <h2 class="uppercase">about CATIK LIGHTING</h2>
                                <h6 class="mb-40">CATIK LIGHTING CO., LTD. Ltd is a subsidiary of the state-owned enterprise AVICINTERNATIONAL.</h6>
                            </div>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-md-5">
                            <div class="about-photo p-20 bg-img-1">
                                <img src="home/img/others/about-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="about-description">
                                <p>AVIC SHENZHEN TRADING CORPORATION, Ltd is a subsidiary of the state-owned enterprise AVICINTERNATIONAL. The corporation has long specialized in the import and export business in LED lighting and other electrical products. With the abundant financial resources, professional services, good reputation, and a high-quality professional team, the corporation has kept a good record in the scale of the annual import-export business for over $100, 000, 000 during the past ten years.</p>

                                <p>The corporation specializes in designing, manufacturing, and selling varieties of lighting products, mainly including LED light source products, commercial lighting as well as outdoor lighting products. </p>

                                <p>corporation keeps the faith that reputation comes first and quality comes first. We strive to develop the quality and cost performance to the extreme.</p>

                                <p>Our technology team will make changes and improvements in the design and function of the product so as to meet the different demands from different regions and countries. We also make the best-selling products through our own independent research and development.</p>

                                <p>Customers from both home and abroad are warmly welcome! We believe that our sincerity and hospitality will bring you light-like brilliance and warmth! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ABOUT SECTION END --> 

            <!-- TEAM SECTION START -->
            <div class="team-section mb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-left ">
                                <h2 class="uppercase">team member</h2>
                                <h6 class="mb-40">There are many variations of passages of brands available,</h6>
                            </div>
                        </div>
                    </div>                
                    <div class="row">
                        <div class="active-team-member">
                            <!-- team-member start -->
                            <div class="col-md-12">
                                <div class="team-member box-shadow bg-shape">
                                    <div class="team-member-photo">
                                        <img src="home/img/team/1.jpg" alt="" style="width: 130px;height: 130px;">
                                    </div>
                                    <div class="team-member-info pt-20">
                                        <h5 class="member-name"><a href="#">Tony</a></h5>
                                        <p class="member-position">Chairman</p>
                                        <p class="mb-20">There are many variations of passage of Lorem Ipsum available, but the in majority have suffered.</p>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>                                     
                                    </div>
                                </div>
                            </div>
                            <!-- team-member end -->
                            <!-- team-member start -->
                            <div class="col-md-12">
                                <div class="team-member box-shadow bg-shape">
                                    <div class="team-member-photo">
                                        <img src="home/img/team/1.jpg" alt="" style="width: 130px;height: 130px;">
                                    </div>
                                    <div class="team-member-info pt-20">
                                        <h5 class="member-name"><a href="#">Tony</a></h5>
                                        <p class="member-position">Chairman</p>
                                        <p class="mb-20">There are many variations of passage of Lorem Ipsum available, but the in majority have suffered.</p>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>                                     
                                    </div>
                                </div>
                            </div>
                            <!-- team-member end -->
                            <!-- team-member start -->
                            <div class="col-md-12">
                                <div class="team-member box-shadow bg-shape">
                                    <div class="team-member-photo">
                                        <img src="home/img/team/1.jpg" alt="" style="width: 130px;height: 130px;">
                                    </div>
                                    <div class="team-member-info pt-20">
                                        <h5 class="member-name"><a href="#">Tony</a></h5>
                                        <p class="member-position">Chairman</p>
                                        <p class="mb-20">There are many variations of passage of Lorem Ipsum available, but the in majority have suffered.</p>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>                                     
                                    </div>
                                </div>
                            </div>
                            <!-- team-member end -->
                            <!-- team-member start -->
                            <div class="col-md-12">
                                <div class="team-member box-shadow bg-shape">
                                    <div class="team-member-photo">
                                        <img src="home/img/team/1.jpg" alt="" style="width: 130px;height: 130px;">
                                    </div>
                                    <div class="team-member-info pt-20">
                                        <h5 class="member-name"><a href="#">Tony</a></h5>
                                        <p class="member-position">Chairman</p>
                                        <p class="mb-20">There are many variations of passage of Lorem Ipsum available, but the in majority have suffered.</p>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>                                     
                                    </div>
                                </div>
                            </div>
                            <!-- team-member end -->
                            <!-- team-member start -->
                            <div class="col-md-12">
                                <div class="team-member box-shadow bg-shape">
                                    <div class="team-member-photo">
                                        <img src="home/img/team/2.png" alt="">
                                    </div>
                                    <div class="team-member-info pt-20">
                                        <h5 class="member-name"><a href="#">Tony</a></h5>
                                        <p class="member-position">Chairman</p>
                                        <p class="mb-20">There are many variations of passage of Lorem Ipsum available, but the in majority have suffered.</p>
                                        <ul class="footer-social">
                                            <li>
                                                <a class="facebook" href="" title="Facebook"><i class="zmdi zmdi-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a class="google-plus" href="" title="Google Plus"><i class="zmdi zmdi-google-plus"></i></a>
                                            </li>
                                            <li>
                                                <a class="twitter" href="" title="Twitter"><i class="zmdi zmdi-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a class="rss" href="" title="RSS"><i class="zmdi zmdi-rss"></i></a>
                                            </li>
                                        </ul>                                     
                                    </div>
                                </div>
                            </div>
                            <!-- team-member end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- TEAM SECTION END -->             
        </section>
        <!-- End page content -->

<#include "./home/public/footer.html"/>
